.MainCard {
    /* max-width: 10, */
    background-color: #9d35dc08;
    
    }
    .Text{
        /* margin-left: 100; */
    
    }

    /* .title {
        font-size: 18px;
        font-weight: 700;
      } */